<html xmlns="http://www.w3.org/1999/xhtml">
{% load i18n %}
<head>
    <title>{% block title %}NetMeals{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=320, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no"/>

    {% load staticfiles %}
    <link rel="icon" type="image/ico" href="{% static 'images/favicon.ico' %}"/>

    <link rel="stylesheet" media="screen" href="{% static "materialize/css/bootstrap.min.css" %}"/>
    <link rel="stylesheet" media="screen" href="{% static "materialize/css/mdb.min.css" %}"/>
    <link rel="stylesheet" media="screen" href="{% static "css/core.css" %}"/>
    <link rel="stylesheet" media="screen" href="{% static "css/responsive.css" %}"/>
    <link rel="stylesheet" media="screen" href="{% static "css/datepicker/bootstrap-datepicker3.min.css" %}"/>
    <link rel="stylesheet" media="screen" href="{% static "css/datetimepicker/bootstrap-datetimepicker.min.css" %}"/>

    <link rel="stylesheet" media="screen" href="{% static "css/font-awesome.min.css" %}"/>
    <link rel="stylesheet" media="screen" href="{% static "css/google-maps.css" %}"/>
    <link rel="stylesheet" type="text/css"
          href="http://weareoutman.github.io/clockpicker/dist/jquery-clockpicker.min.css">

    <script type="text/javascript" src="{% static "materialize/js/jquery-3.1.1.min.js" %}"></script>
    <script type="text/javascript"
            src="http://weareoutman.github.io/clockpicker/dist/jquery-clockpicker.min.js"></script>

    <script type="text/javascript" src="{% static "materialize/js/tether.min.js" %}"></script>
    <script src="https://www.paypalobjects.com/api/checkout.js"></script>

    <script type="text/javascript" src="{% static "materialize/js/bootstrap.min.js" %}"></script>


    <script type="text/javascript" src="{% static "js/core.js" %}"></script>
    <script type="text/javascript" src="{% static "js/pwstrength.js" %}"></script>
    <script type="text/javascript" src="{% static "js/datepicker/bootstrap-datepicker.min.js" %}"></script>

    <script type="text/javascript" src="{% static "js/CryptoJS/core-min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/CryptoJS/sha1-min.js" %}"></script>

    <script type="text/javascript" src="{% static "js/google-maps.js" %}"></script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDfD-gZKxc_qrC1clMF9U3OPfm5U3iUwE0&libraries=places&callback=initGoogleMaps"></script>

    <script src="{% static "js/sweetalert.min.js" %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static "css/sweetalert.css" %}">
</head>
<body style="min-height: 100%;">
{% include 'masterpage/includes/menu.html' %}

</div>
<div class="layouts-body">
    <div>
        {% block content %}
            <!-- Custom body replaced in tile files -->
        {% endblock %}
    </div>
</div>
</body>


<div id="avisoCookies" class="cookiebanner text-center hide">

    <p class="text-center"> <span
            style="color:white"> {% trans "This page uses own and third party cookies in order to improve the service. If you continue browsing, you accept its use." %}
        <br> <a href="#" id="aceptarCookies">{% trans "Accept" %}</a> | <a
                href="http://politicadecookies.com/" rel="nofollow">{% trans "More information" %} </a>.</span>
    </p>

    <script>
        function checkCookieLaw() {
            if (window.localStorage.getItem('cookieLawKeyMiWeb')) {
                $('#avisoCookies').hide();
            } else {
                $('#avisoCookies').removeClass('hide');
            }
        }
        checkCookieLaw();
        $('#aceptarCookies').on("click", function () {
            window.localStorage.setItem('cookieLawKeyMiWeb', true);
            $('#avisoCookies').hide();
        });
    </script>
</div>

{% include 'masterpage/includes/footer.html' %}
</html>