{% if next %}
<form  class="form" role="form" action="{% url "login" %}?next={{next}}" method="post" accept-charset="UTF-8" id="login-nav">
{%else%}
<form  class="form" role="form" action="{% url "login" %}?next=/" method="post" accept-charset="UTF-8" id="login-nav">
{% endif %}
        {% csrf_token %}
        <div class="form-group">
             <label class="sr-only" for="email">Username</label>
             <input type="text" class="form-control" name="username" id="username" placeholder="Username" required>
        </div>
        <div class="form-group">
             <label class="sr-only" for="password">Password</label>
             <input type="password" class="form-control" name="password" id="password" placeholder="Password" required>
             <div class="help-block text-right"><a href="">Forgot your password?</a></div>
        </div>
        <div class="form-group">
             <button type="submit" class="button btn-login btn-block">Log in</button>
        </div>
        <div class="checkbox">
             <label>
             <input type="checkbox"> Remember your password
             </label>
        </div>
 </form>
