{% extends 'masterpage/masterpage.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load l10n %}
{% crispy form form.helper %}
{% block title %}Signup{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <h2>Do you want to provide a service?</h2> <a class="btn btn-elegant waves-effect waves-light" href="/"> No thanks</a>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-3 col-xl-3 signup-role signup-cheff mb-2" data-role="Chef">
               <p class="vertical-align">Cheff</p>
            </div>
            <div class="col-lg-1 col-xl-1">
            </div>
            <div class="col-sm-12 col-md-12 col-lg-3 col-xl-3 signup-role signup-manager mb-2" data-role="Manager">
                <p class="vertical-align">Manager</p>
            </div>
            <div class="col-lg-1 col-xl-1">
            </div>
            <div class="col-sm-12 col-md-12 col-lg-3 col-xl-3 signup-role signup-monitor mb-2" data-role="Monitor">
                <p class="vertical-align">Monitor</p>
            </div>
        </div>
        <div class="row">
            <h2>Choose a plan</h2>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-3 col-xl-3 signup-plan plan-free mb-2" data-plan="free">
               Free
            </div>
            <div class="col-lg-1 col-xl-1">
            </div>
            <div class="col-sm-12 col-md-12 col-lg-3 col-xl-3 signup-plan plan-lite mb-2" data-plan="lite">
                Lite
            </div>
            <div class="col-lg-1 col-xl-1">
            </div>
            <div class="col-sm-12 col-md-12 col-lg-3 col-xl-3 signup-plan plan-premium mb-2" data-plan="premium">
                Premium
            </div>
        </div>
     <div style="min-height: 10px">
    </div>

    <script>

        $(".signup-plan").click(function(){
            var plan = $(this).data("plan");
            swal({
                    title: "{% trans "Are you sure?" %}",
                    text: "{% trans "You are going " %}",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: '#DD6B55',
                    confirmButtonText: '{% trans "Yes, im sure!" %}',
                    cancelButtonText: "{% trans "Cancel" %}",
                    closeOnConfirm: false,
                    closeOnCancel: true,
                    showLoaderOnConfirm: true,
                },
                function (isConfirm) {
                    if (isConfirm) {
                        console.log($(this).data("plan") + " pressed");
                        if(!$(this).hasClass("signup-plan-selected")) {
                            $(this).addClass("signup-plan-selected");
                        }else{
                            $(this).removeClass("signup-plan-selected");
                        }

                        var roles = [];
                        $(".signup-role.signup-role-selected").each(function(){
                            roles.push($(this).data("role"));
                        });
                        $.ajax({
                            method: "POST",
                            url: "{% url "addRole" %}",
                            data : {"selected_plan" : plan, "selected_roles":roles},
                            success: function(res){
                                if(res.approval_href != null){
                                    document.location.href=res.approval_href;
                                }else{
                                    document.location.href="/";
                                }
                            },
                            error: function(xhr){
                                alert("An error occured: " + xhr.status + " " + xhr.statusText);
                        }});
                    }
                });
    });

    </script>
{% endblock %}