{% extends 'masterpage/masterpage.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% crispy form form.helper %}

{% block title %}Dish Details{% endblock %}
{% block content %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4">
                        <div class="thumbnail">
                            <img alt="{{ dish.name }}"
                                 src="{{ dish.photo }}"/>
                            <div>
                                <h3>
                                    {{ dish.name }}
                                </h3>
                                <p>
                                    {{ dish.description }}
                                </p>
                                <p>
                                    <a class="btn btn-primary" href="#">Action</a> <a class="btn" href="#">Action</a>
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-6">

                <img alt="{{ request.user.first_name }}" src="{% static request.user.guest.avatar %}"
                     class="img-circle"/>
                <blockquote>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                    </p>
                    <small>Someone famous <cite>Source Title</cite></small>
                </blockquote>
            </div>
        </div>
    </div>
{% endblock %}