body {
  padding-top: 5rem;
}

/* Menu*/
.language-menu .dropdown-item, #language-dropdown{
	cursor: pointer;
}
.signin-menu {
	min-width: 220px;
}
.username-menu{
	margin-right:10px;
	font-weight: bold;
}
@media only screen and (min-width: 992px){
	#singout-form {
		float: right !important;
	}
}

/* Signup form */
.form-group.required label:after {
  content:"*";
  color:red;
}
.pwstrength-error, .repeatPassword-error{
	color: #d9534f;
}
.signup-password{
	margin-bottom: 5px;
}

/* Footer */
.footer {
    background-color: #f5f5f5;
    bottom: 0;
    height: 60px;
    line-height: 60px;
    position: absolute;
    width: 100%;
}