{% extends 'masterpage/masterpage.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% crispy form form.helper %}
{% load activities_extra %}

{% block title %}{{ title }}{% endblock %}
{% block content %}

    {% if error_msg %}
        <div class="container alerts">
            <div class="alert alert-danger alert-dismissable">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>{{success_msg}}</strong>
            </div>
        </div>
    {% elif success_msg %}
        <div class="container alerts">
            <div class="alert alert-success alert-dismissable">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>{{success_msg}}</strong>
            </div>
        </div>
    {% endif %}



<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDfD-gZKxc_qrC1clMF9U3OPfm5U3iUwE0&libraries=places&callback=initAutocomplete"
         async defer></script>
<div class="container">
    {% if is_edit %}
	    <form action="{% url "activity_edit" form.initial.id %}" method="post">
    {% else %}
        <form action="{% url "new_activity" %}" method="post">
    {% endif %}
        {%  crispy form %}
        <div id="map"></div>
        {% if is_edit or is_new %}
		    <button type="submit" class="btn btn-primary activity-submit">Submit</button>
        {% endif %}
	</form>
    {% if user.is_authenticated and not is_edit and form.initial.id %}
        {% if request.user|is_subscribed:form.initial.id  %}
            <a class="btn" href="{% url "activity_unsubscribe" form.initial.id %}">Unsubscribe</a>
        {% else %}
            <a class="btn" href="{% url "activity_subscribe" form.initial.id %}">Subscribe!</a>
        {% endif %}
    {% endif %}
<script>
    $('.dateinput').datepicker({
        format: "dd/mm/yyyy",
        startView: 2,
        clearBtn: true,
        autoclose: true
    });

    $(".alert").fadeTo(3000, 500).slideUp(500, function(){
        $(".alert").slideUp(500);
    });

{#    $(".activity-subscription").click(function(){#}
{#       var activity_id = $(this).data("id");#}
{#       var url = "{% url "activity_subscribe" 0 %}".replace("0", activity_id);#}
{#       $.ajax({#}
{#           method: "POST",#}
{#           url: url,#}
{#           success: function(res){#}
{#            $(".container.alerts").html("<div class='alert alert-danger alert-dismissable'> " +#}
{#                " <a href='#' class='close' data-dismiss='alert' aria-label='close'>&times;</a> " +#}
{#                "<strong>" + "Successfully subscribed!" + "</strong>" +#}
{#            "</div>");#}
{#           },#}
{#           error: function(xhr){#}
{#               alert("An error occured: " + xhr.status + " " + xhr.statusText);#}
{#           }#}
{#       });#}
{#   });#}
</script>
</div>
{% endblock %}