{% load staticfiles %}
{% load i18n %}
{% block content %}


    <!--Footer-->
    <footer class="page-footer center-on-small-only">

        <!--Footer Links-->
        <div class="container-fluid ">
            <div class="row">

                <!--First column-->
                <div class="col-md-4 ">
                    <a class="navbar-brand" href="/">
                        <img width="200px" alt="NetMeals"
                             src="{% static 'images/logo_nav.png' %}">
                    </a>
                    {#                    <h5 class="title">NetMeals</h5>#}
                    {#                    <p>{% trans 'Here you can see some usefull links.' %}</p>#}
                </div>
                <!--/.First column-->

                <hr class="hidden-md-up">

                <!--Second column-->
                <div class="col-md-4 ">
                    <h5 class="title">Links</h5>
                    <ul>
                        <li><a href="{% url 'about_us' %}">{% trans 'About us' %}</a></li>
                        <li><a href="{% url 'terms' %}">{% trans 'Terms and Conditions' %}</a></li>

                    </ul>
                </div>
                <!--/.Second column-->

                <hr class="hidden-md-up">

                <!--Third column-->
                <div class="col-md-4 ">
                    <h5 class="title"><br></h5>
                    <ul>
                        <li><a href="{% url 'cancellation' %}">{% trans 'Cancellation policy' %}</a></li>
                        <li><a href="{% url 'cookies' %}">{% trans 'Cookies policy' %}</a></li>

                    </ul>
                </div>
                <!--/.Third column-->

                <hr class="hidden-md-up">

            </div>
        </div>
        <!--/.Footer Links-->


        {% if user.is_anonymous %}
            <hr>
            <!--Call to action-->
            <div class="text-center">
                <h5>{% trans 'Register for free' %}</h5> <a href="{% url 'signup' %}" class="btn btn-danger">Sign
                up!</a>

            </div>
            <!--/.Call to action-->
        {% endif %}

        <!--Copyright-->
        <div class="footer-copyright">
            <div class="container-fluid">
                © 2017 Copyright: <a href="/"> NetMeals </a>

            </div>
        </div>
        <!--/.Copyright-->

        <!--/.Footer-->

        <script type="text/javascript" src="{% static "materialize/js/mdb.min.js" %}"></script>
        <script>
            new WOW().init();
            initSearchBox();
        </script>

    </footer>


{% endblock content %}