{% load user_tags %}
{% load i18n %}
{% load staticfiles %}

{% block body %}

    <!-- Template styles -->
    <style rel="stylesheet">
        /* TEMPLATE STYLES */
        /* Necessary for full page carousel*/

        html,
        body,
        .view {
            height: 100%;
            width: 100%;
        }

        /* Navigation*/

        .navbar {
            background-color: #ff5c5c;
        }

        .scrolling-navbar {
            -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
            -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
            transition: background .5s ease-in-out, padding .5s ease-in-out;
        }

        .top-nav-collapse {
            background-color: #1C2331;
        }

        footer.page-footer {
            background-color: #1C2331;
            margin-top: 0;
        }

        .light-blue.darken-3 {
            background-color: #ff5c5c !important
        }

        .btn-info:focus, .btn-info:hover {
            background-color: #ff5c5c !important;
        }

        .btn-outline-info:active, .btn-outline-info:active:focus, .btn-outline-info:focus, .btn-outline-info:hover {
            color: #ff5c5c;
            border-color: #ff8b8c;
            background-color: transparent;
        }

        .md-form .prefix.active {
            color: #ff8b8c;
        }

        @media only screen and (max-width: 768px) {
            .navbar {
                background-color: #ff5c5c;
            }

            #menu-searcher {
                max-width: 250px;
            }
        }

        #logo {
            max-height: 35px;
        }

        #search-form {
            margin-bottom: 0px;
        }


    </style>
    <!--Navbar-->
    <nav id="menu" class="navbar navbar-toggleable-md navbar-dark fixed-top scrolling-navbar">
        <div class="container">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                    data-target="#navbarNav1" aria-controls="navbarNav1" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <a class="navbar-brand" href="/">
                <img id='logo' alt="NetMeals" src="{% static 'images/logo_nav.png' %}">
            </a>
            <div class="collapse navbar-collapse" id="navbarNav1">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a href="{% url 'about_us' %}" class="nav-link">{% trans 'About' %}</a>
                    </li>
                    {% include 'includes/activities_menu.html' %}
                    {% include 'includes/dish_menu.html' %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'rankings' %}">{% trans 'Rankings' %}</a>
                    </li>
                </ul>
                <ul class="navbar-nav ">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="user-dropdown" data-toggle="dropdown"
                           aria-haspopup="true"
                           aria-expanded="false"><i class="fa fa-user"></i></a>
                        <div class="dropdown-menu user-menu" aria-labelledby="user-dropdown">
                            {% if user.is_anonymous %}
                                <ul class="navbar-nav">
                                    <li class="nav-item dropdown">
                                        <a class=" dropdown-item"
                                           data-toggle="modal"
                                           data-target="#modalLogin">{% trans "Log in" %}</a>
                                        <a class=" dropdown-item"
                                           href="{% url "signup" %}">{% trans "Signup" %}</a>
                                    </li>
                                </ul>

                            {% endif %}

                            {% if user.is_authenticated %}
                                <ul class="navbar-nav">
                                    <li class="nav-item dropdown">
                                        <span class="navbar-text username-menu">{% trans 'Hello ' %} {{ user.get_username }}!</span>
                                        <a class="dropdown-item" href="{% url "logout" %}">{% trans 'Signout' %}</a>
                                        <a class="dropdown-item"
                                           href="{% url "profile" user.get_username %}">{% trans 'Profile' %}</a>
                                        <a class="dropdown-item"
                                           href="{% url "profile_edit" %}">{% trans 'Edit Profile' %}</a>

                                    </li>
                                </ul>
                            {% endif %}
                        </div>
                    </li>
                </ul>


                <ul class="navbar-nav ">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="language-dropdown" data-toggle="dropdown"
                           aria-haspopup="true"
                           aria-expanded="false">{% trans "Language" %}</a>
                        <div class="dropdown-menu language-menu" aria-labelledby="language-dropdown">
                            <a class="dropdown-item" href="/i18n/change_language?language=es">{% trans "Spanish" %}</a>
                            <a class="dropdown-item" href="/i18n/change_language?language=en">{% trans "English" %}</a>
                        </div>
                    </li>
                </ul>
                <form id="search-form" class="form-inline waves-effect waves-light">
                    <input id="search-lat" type="hidden"/>
                    <input id="search-lng" type="hidden"/>
                    <input id="menu-searcher" data-url="{% url "search" %}" class="form-control" type="text"
                           placeholder="{% trans "Search CP" %}">
                    <button id="menu-searcher-user-location" data-url="{% url "search" %}"
                            class="btn-success btn-circle btn-md search-current-location">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                    </button>
                </form>
            </div>
        </div>
    </nav>
    <!--/.Navbar-->

    {% if user.is_superuser %}
        <meta http-equiv="REFRESH" content="0;url={% url "dashboard" %}">
    {% endif %}

    {% if user.is_anonymous %}
        <!--Modal: Login Form-->
        <div class="modal fade" id="modalLogin" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog cascading-modal" role="document">
                <!--Content-->
                <div class="modal-content">

                    <!--Header-->
                    <div class="modal-header light-blue darken-3 white-text">

                        <h4 class="title"><i class="fa fa-user"></i> {% trans "Log in" %}</h4>
                    </div>
                    <!--Body-->
                    <div class="modal-body">
                        <form id="login-form" action="{% url "login" %}?next=/"
                              method="post">
                            {% csrf_token %}
                            <div class="md-form form-sm">
                                <i class="fa fa-user prefix"></i>
                                <input type="text" id="form30" class="form-control" name="username">
                                <label for="form30">{% trans "User" %}</label>
                            </div>

                            <div class="md-form form-sm">
                                <i class="fa fa-lock prefix"></i>
                                <input type="password" id="form31" class="form-control" name="password">
                                <label for="form31">{% trans "Password" %}</label>
                            </div>

                            <div class="text-center mt-2">
                                <button type="submit" class="btn btn-info"
                                        style="background-color: #ff8b8c">{% trans "Enter" %} <i
                                        class="fa fa-sign-in ml-1"></i></button>
                            </div>
                        </form>
                    </div>
                    <!--Footer-->
                    <div class="modal-footer">
                        <div class="options text-center text-md-right mt-1">
                            <p>{% trans "Not a member?" %} <a href="{% url "signup" %}"
                                                              style="color: #ff8b8c"> {% trans "Signup" %}</a></p>
                            <p>{% trans "Forgot" %} <a href="{% url 'password_reset' %}"
                                                       style="color:#ff8b8c"> {% trans "Password" %}?</a></p>
                        </div>
                        <button type="button" class="btn btn-outline-info waves-effect ml-auto" data-dismiss="modal">
                            {% trans "Close" %}
                            <i class="fa fa-times-circle ml-1"></i>
                        </button>
                    </div>
                </div>
                <!--/.Content-->
            </div>
        </div>
        <!--Modal: Login Form-->
    {% endif %}
    <script>
        $(document).ready(function () {

            $("#menu-searcher-user-location").click(function (event) {
                $(this).addClass("search-loader-hidden");
                var url = $(this).data("url");
                var apiGeolocationSuccess = function (position) {
                    var lat = position.coords.latitude;
                    var lng = position.coords.longitude;
                    $("#search-lat").val(lat);
                    $("#search-lng").val(lng);
                    window.location.href = url + "?latitude=" + lat + "&longitude=" + lng;
                };

                var tryAPIGeolocation = function () {
                    jQuery.post("https://www.googleapis.com/geolocation/v1/geolocate?key=AIzaSyDfD-gZKxc_qrC1clMF9U3OPfm5U3iUwE0", function (success) {
                        apiGeolocationSuccess({
                            coords: {
                                latitude: success.location.lat,
                                longitude: success.location.lng
                            }
                        });
                    })
                            .fail(function (err) {
                                alert("API Geolocation error! \n\n" + err);
                            });
                };

                var browserGeolocationSuccess = function (position) {
                    var lat = position.coords.latitude;
                    var lng = position.coords.longitude;
                    $("#search-lat").val(lat);
                    $("#search-lng").val(lng);
                    window.location.href = url + "?latitude=" + lat + "&longitude=" + lng;
                };

                var browserGeolocationFail = function (error) {
                    switch (error.code) {
                        case error.TIMEOUT:
                            alert("Browser geolocation error !\n\nTimeout.");
                            break;
                        case error.PERMISSION_DENIED:
                            if (error.message.indexOf("Only secure origins are allowed") == 0) {
                                tryAPIGeolocation();
                            }
                            break;
                        case error.POSITION_UNAVAILABLE:
                            alert("Browser geolocation error !\n\nPosition unavailable.");
                            break;
                    }
                };

                swal(
                        {
                            title: "{% trans "Use your current location?" %}",
                            text: "{% trans "We'll use your location to show you dishes and activities near to you!!" %}",
                            type: "warning",
                            showCancelButton: true,
                            confirmButtonColor: "#DD6B55",
                            confirmButtonText: "{% trans "Yes" %}",
                            cancelButtonText: "Cancel",
                            closeOnConfirm: false,
                            showLoaderOnConfirm: true
                        }, function () {
                            if (navigator.geolocation) {
                                navigator.geolocation.getCurrentPosition(
                                        browserGeolocationSuccess,
                                        browserGeolocationFail,
                                        {maximumAge: 50000, timeout: 20000, enableHighAccuracy: true}
                                );
                            }
                        }
                );
            });

            google.maps.event.addDomListener(window, "load", initSearchBox);
        });

    </script>

{% endblock body %}

<!-- Navbar -->
{#<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top" >#}
{#    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#main-menu"#}
{#            aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">#}
{#        <span class="navbar-toggler-icon"></span>#}
{#    </button>#}
{##}
{#    <a href="/">#}
{#        <img alt="NetMeals" src="{% static 'images/logo_nav.png' %}" width="120" height="0">#}
{#    </a>#}
{##}
{#    <div class="collapse navbar-collapse" id="main-menu">#}
{#        <ul class="navbar-nav mr-auto">#}
{#            <li class="nav-item active">#}
{#                <a class="nav-link" href="/"><span>{% trans "Home" %}</span><span class="sr-only">(current)</span></a>#}
{#            </li>#}
{#            {% include 'includes/activities_menu.html' %}#}
{#            {% include 'includes/dish_menu.html' %}#}
{#            <li class="nav-item">#}
{#                <a class="nav-link" href="">{% trans "Feedback" %}</a>#}
{#            </li>#}
{#            <li class="nav-item">#}
{#                <a class="nav-link" href="">{% trans "About Us" %}</a>#}
{#            </li>#}
{##}
{#        </ul>#}
{##}
{#        {% if user.is_anonymous %}#}
{#            <ul class="navbar-nav">#}
{#                <li class="nav-item dropdown">#}
{#                    <button id="signin-button" type="button" class="btn btn-outline-info mr-sm-2" data-toggle="dropdown"#}
{#                            aria-haspopup="true" aria-expanded="false">{% trans "Signin" %}#}
{#                    </button>#}
{#                    <div class="dropdown-menu signin-menu" aria-labelledby="signin-button">#}
{#                        <form class="mx-3 my-lg-0" id="login-form" action="{% url "login" %}?next=/" method="post">#}
{#                            {% csrf_token %}#}
{#                            <div class="form-group"><label>{% trans "User" %}<input class="form-control px-2"#}
{#                                                                                    type="text"#}
{#                                                                                    name="username"/> </label></div>#}
{#                            <div class="form-group"><label>{% trans "Password" %}<input id="signin-userPassword"#}
{#                                                                                        class="form-control px-2"#}
{#                                                                                        type="password"#}
{#                                                                                        name="password"/> </label></div>#}
{#                            <div class="form-group">#}
{#                                <button type="submit" class="btn btn-outline-info">{% trans "Signin" %}</button>#}
{#                            </div>#}
{#                        </form>#}
{#                    </div>#}
{#                </li>#}
{#            </ul>#}
{#            <ul class="navbar-nav">#}
{#                <li class="nav-item dropdown">#}
{#                    <form class="my-2 my-lg-0" action="{% url "signup" %}" method="get">#}
{#                        <button id="signup-button" type="submit"#}
{#                                class="btn btn-outline-success my-2 my-sm-0">{% trans "Signup" %}#}
{#                        </button>#}
{#                    </form>#}
{#                </li>#}
{#            </ul>#}
{#        {% endif %}#}
{#        {% if user.is_authenticated %}#}
{#            <ul class="navbar-nav">#}
{#                <li class="nav-item dropdown">#}
{#                    <span class="navbar-text username-menu">{% trans 'Hello ' %} {{ user.get_username }}!</span>#}
{#                    <form class="my-2 my-lg-0" id="singout-form" action="{% url "logout" %}" method="post">#}
{#                        {% csrf_token %}#}
{#                        <button id="signup-button" type="submit"#}
{#                                class="btn btn-outline-success my-2 my-sm-0">{% trans "Signout" %}#}
{#                        </button>#}
{#                    </form>#}
{#                </li>#}
{#            </ul>#}
{#        {% endif %}#}
{##}
{##}
{#        <ul class="navbar-nav">#}
{#            <li class="nav-item dropdown">#}
{#                <a class="nav-link dropdown-toggle" id="language-dropdown" data-toggle="dropdown" aria-haspopup="true"#}
{#                   aria-expanded="false">{% trans "Language" %}</a>#}
{#                <div class="dropdown-menu language-menu" aria-labelledby="language-dropdown">#}
{#                    <a class="dropdown-item" href="/i18n/change_language?language=es">{% trans "Spanish" %}</a>#}
{#                    <a class="dropdown-item" href="/i18n/change_language?language=en">{% trans "English" %}</a>#}
{#                </div>#}
{#            </li>#}
{#        </ul>#}
{#    </div>#}
{#</nav>#}