{% extends 'masterpage/masterpage.html' %}
{% load i18n %}
{% load staticfiles %}
{% block content %}

    <meta name="viewport" content="width=device-width, initial-scale=1">


    {% if validlink %}

        <div class="container" style="min-height: 450px">
            <h1>{% trans "New password" %}</h1>
            <div class="contact-main well white">
                <form method="post">
                    {% csrf_token %}

                    {{ form.new_password1.errors }}
                    <label for="id_new_password1">{% trans "New password" %}:</label>
                    {{ form.new_password1 }}
                    <br>
                    {{ form.new_password2.errors }}
                    <label for="id_new_password2">{% trans "Repeat password" %}:</label>
                    {{ form.new_password2 }}

                    <br>
                    <br>
                    <a href="{% url 'index' %}" class="btn btn-info waves-effect waves-light"><i
                            class="fa fa-arrow-left"></i> {% trans "Back" %}</a>
                    <button type="submit" class="btn btn-info waves-effect waves-light"><i class="fa fa-check"></i> {% trans "Save" %}
                    </button>

                </form>
            </div>
        </div>
    {% else %}
        <h3 class="text-center">{% trans "Invalid link. This link has already been used" %}</h3>
    {% endif %}


{% endblock %}