{% extends 'masterpage/masterpage.html' %}
{% load i18n %}
{% load staticfiles %}
{% block content %}

    <div class="container">
        <h1>{% trans "Forget password" %}</h1>

        <div style="min-height: 450px">
            <form method="post">
                {%  csrf_token %}
                <div class="form-group {{form.email.errors|yesno:"has-error," }}">
                  <label for="id_email">{% trans "Email" %}: </label>
                  <input type="text" class="form-control" id="email" name="email">
                  {% if form.email.errors %} <span id="help-block-email" class="help-block">{{form.email.errors}}</span>{%endif%}
                </div>

                <a href="{% url 'index'%}" class="btn btn-info waves-effect waves-light"><i class="fa fa-arrow-left"></i> {% trans "Back" %}</a>
                <button type="submit" class="btn btn-info waves-effect waves-light"><i class="fa fa-check"></i> {% trans "Send" %}</button>
            </form>
        </div>
    </div>
{% endblock %}
