{% extends 'masterpage/masterpage.html' %}
{% load staticfiles %}
{% load i18n %}

{% block content %}




    <script type="text/javascript">

    </script>

    <style>
        .video-full {
            position: fixed !important;
        }

        .section1 {
            background: url(../../static/images/bg2.jpg) no-repeat;
            min-height: 110%;
            background-size: cover;
            box-shadow: 0 0 3px 3px #555;
        }

        .section2 {
            padding: 10% 0px 10% 0px;
        }

        .section3 {
            background: url(../../static/images/fondo.jpg) no-repeat;
            min-height: 80%;
            background-size: cover;
            box-shadow: 0 0 3px 3px #555;
        }

        .panel-pricing {
            -moz-transition: all .3s ease;
            -o-transition: all .3s ease;
            -webkit-transition: all .3s ease;
            padding: 10px 0px 10px 10px;
        }

        .panel-pricing:hover {
            box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
        }

        .panel-pricing .panel-heading {
            padding: 20px 10px;
        }

        .panel-pricing .panel-heading .fa {
            margin-top: 10px;
            font-size: 58px;
        }

        .panel-pricing .list-group-item {
            color: #777777;
            border-bottom: 1px solid rgba(250, 250, 250, 0.5);
        }

        .panel-pricing .list-group-item:last-child {
            border-bottom-right-radius: 0px;
            border-bottom-left-radius: 0px;
        }

        .panel-pricing .list-group-item:first-child {
            border-top-right-radius: 0px;
            border-top-left-radius: 0px;
        }

        .panel-pricing .panel-body {
            background-color: #f0f0f0;
            font-size: 40px;
            color: #777777;
            padding: 20px;
            margin: 0px;
        }

        .panel-free > .panel-heading {
            color: #5e5e5e;
            background-color: #C1C1C1;
            border-color: #ebccd1;
        }

        .panel-lite > .panel-heading {
            color: #ff5c5c;
            background-color: #f2dede;
            border-color: #ebccd1;
        }

        .panel-premium > .panel-heading {
            color: #c9d439;
            background-color: #dff0d8;
            border-color: #d6e9c6;
        }

        #glovo, #netmealslogo {
            padding-top: 10%;
        }

        #frase {
            padding-top: 15%;
        }

        @media screen and (max-width: 480px) {
            #glovo, #netmealslogo, #frase {
                padding-top: 50% !important;
            }

            #frase {
                padding-top: 60% !important;
            }

        {#            .section1 {#}
        {#                background: url(../../static/images/bg2.jpg) no-repeat;#}
        {#                min-height: 110%;#}
        {#                background-size: cover;#}
        {#                box-shadow: 0 0 3px 3px #555;#}
        {#            }#}

        }

    </style>



    <div class="view hm-black-light">
        <video playsinline autoplay loop muted class="video-full">

            <source src="{% static 'images/video.mp4' %}" type="video/mp4">

        </video>
        <div class="text-center">
            <img id="netmealslogo" class="col-lg-6 col-xs-4" style="display: inline; box-shadow: none" alt="NetMeals"
                 src="{% static 'images/logo.png' %}"/>
        </div>
    </div>

    <div class="section1">
        <div class="text-center">
            <img id="frase" class="col-lg-6 col-xs-4" style=" display: inline; box-shadow: none"
                 alt="NetMeals"
                 src="{% static 'images/frase.png' %}"/>
        </div>
    </div>

    <div class="section2">
        <div class="text-center">
            <section id="plans">
                <div class="container">
                    <div class="row">
                        <!-- item -->
                        <div class="col-md-4 text-center">
                            <div class="panel panel-free panel-pricing">
                                <div class="panel-heading">
                                    <i class="fa fa-desktop"></i>
                                    <h3>Free</h3>
                                </div>
                                <div class="panel-body text-center">
                                    <p><strong>{% trans 'Free' %}</strong></p>
                                </div>
                                <ul class="list-group text-center">
                                    <li class="list-group-item"><i
                                            class="fa fa-check"></i> {% trans 'One dish or activity per month' %}</li>
                                    <li class="list-group-item"><i class="fa fa-times "></i></li>
                                    <li class="list-group-item"><i class="fa fa-times "></i></li>
                                </ul>
                                <div class="panel-footer">
                                    {% if user.is_authenticated  and not is_subscribed %}
                                        <a class="btn btn-lg btn-block" style="background-color:#5e5e5e; color: #FFFFFF"
                                           onclick="selectPlan();">{% trans 'Suscribe now!' %}</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <!-- /item -->

                        <!-- item -->
                        <div class="col-md-4 text-center">
                            <div class="panel panel-lite panel-pricing">
                                <div class="panel-heading">
                                    <i class="fa fa-desktop"></i>
                                    <h3>Lite</h3>
                                </div>
                                <div class="panel-body text-center">
                                    <p><strong>9.99€ / {% trans 'Month' %}</strong></p>
                                </div>
                                <ul class="list-group text-center">
                                    <li class="list-group-item"><i
                                            class="fa fa-check"></i> {% trans 'Three dishes and activities' %}</li>
                                    <li class="list-group-item"><i
                                            class="fa fa-check"></i> {% trans 'Dashboard' %}
                                    </li>
                                    <li class="list-group-item"><i
                                            class="fa fa-times "></i></li>
                                </ul>
                                <div class="panel-footer">
                                    {% if user.is_authenticated  and not is_subscribed %}
                                        <a class="btn btn-lg btn-block" style="background-color:#ff5c5c; color: #FFFFFF"
                                           onclick="selectPlan();">{% trans 'Suscribe now!' %}</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <!-- /item -->

                        <!-- item -->
                        <div class="col-md-4 text-center">
                            <div class="panel panel-premium panel-pricing">
                                <div class="panel-heading">
                                    <i class="fa fa-desktop"></i>
                                    <h3>Premium</h3>
                                </div>
                                <div class="panel-body text-center">
                                    <p><strong>14,99€ / {% trans 'Month' %}</strong></p>
                                </div>
                                <ul class="list-group text-center">
                                    <li class="list-group-item"><i
                                            class="fa fa-check"></i> {% trans 'Unlimited dishes and activities' %}</li>
                                    <li class="list-group-item"><i
                                            class="fa fa-check"></i> {% trans 'Dashboard' %}
                                    </li>
                                    <li class="list-group-item"><i
                                            class="fa fa-check"></i> {% trans 'Advertise your events' %}</li>
                                </ul>
                                <div class="panel-footer">
                                    {% if user.is_authenticated  and not is_subscribed %}
                                        <a class="btn btn-lg btn-block" style="background-color:#c9d439; color: #FFFFFF"
                                           onclick="selectPlan();">{% trans 'Suscribe now!' %}</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <!-- /item -->

                    </div>
                </div>
            </section>

        </div>
    </div>


    <div class="section3">
        <div class="text-center">
            <img id="glovo" class="col-lg-9 col-xs-4" style=" padding-top: 10%; display: inline; box-shadow: none"
                 alt="NetMeals"
                 src="{% static 'images/ñetras-glovo.png' %}"/>
        </div>
    </div>

    <script>
        function selectPlan() {
            window.location.href = "{% url "plan_subscription" %}"
        }
    </script>



{% endblock %}