{% extends 'masterpage/masterpage.html' %}
{% load staticfiles %}
{% load i18n %}
{% load core_tags %}

{% block title %}{% trans "Search Result" %}{% endblock %}
{% block content %}

    <style>

    </style>

    <!--Page heading-->
    <div class="container" style="margin-bottom: 20px;">
        <div class="row">
            <div class="col-md-12">
                <h1 class="h1-responsive">{% trans 'Result' %}</h1>
            </div>
        </div>
        <!--/.Page heading-->
        <hr>
        {% if activities %}
            <h1 class="h1-responsive">
                <small class="text-muted">{% trans 'Activities near you' %}</small>
            </h1>

            <!--First row-->
            <div class="row wow">
                {% for activity, activity_distance in activities %}
                    <div class="col-lg-4 search-event">
                        <a href="{% url 'activity_detail' activity.id %}">
                            <!--Card-->
                            <div class="card">
                                <!--Card image-->
                                <div class="overlay hm-white-slight search-image">
                                    <img src="{{ activity.photo }}" onerror="this.src='/static/images/activity-default.svg'"
                                         class="img-fluid" alt="">
                                </div>
                                <!--/.Card image-->

                                <!--Card content-->
                                <div class="card-block">
                                    <!--Title-->
                                    <h4 class="card-title search-name">{{ activity.name }}</h4>
                                    <!--Text-->
                                    <p class="card-text search-descripcion">{{ activity.short_description }}</p>

                                    <p class="card-text">{{ activity_distance }} {% trans "meters aprox." %}</p>
                                </div>
                                <!--/.Card content-->

                            </div>
                            <!--/.Card-->
                        </a>
                    </div>
                {% empty %}
                    <div class="col-lg-4 search-event">
                        {% trans "There is no activities near you." %}
                    </div>
                {% endfor %}
            </div>

            {% if activities.paginator.num_pages > 1 %}
                <nav class="row flex-center wow fadeIn" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeIn; max-height:30px;  margin-top: 20px;">
                    <ul class="pagination">
                        {% if activities.has_previous %}
                            <li class="page-item" onclick="paginateActivity({{ activities.previous_page_number }})">
                                <a class="page-link waves-effect waves-effect" href="#!" aria-label="Previous">
                                    <span aria-hidden="true">«</span>
                                    <span class="sr-only">{% trans "Previous" %}</span>
                                </a>
                            </li>
                        {% endif %}

                        <li class="page-item">
                            <a class="page-link waves-effect waves-effect" aria-label="Next">
                                <span aria-hidden="true">{{ activities.number }} {% trans "of" %} {{ activities.paginator.num_pages }}</span>
                            </a>
                        </li>

                        {% if activities.has_next %}
                            <li class="page-item" onclick="paginateActivity({{ activities.next_page_number }})">
                                <a class="page-link waves-effect waves-effect" href="#!" aria-label="Next">
                                    <span aria-hidden="true">»</span>
                                    <span class="sr-only">{% trans "Next" %}</span>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            {% endif %}
        {% endif %}

        {% if dishes %}
            <hr>
            <h1 class="h1-responsive">
                <small class="text-muted">{% trans 'Dishes near you' %}</small>
            </h1>
            <!--First row-->
            <div class="row wow">
                {% for dish, dish_distance in dishes %}
                    <div class="col-lg-4 search-event">
                        <a href="{% url 'details_dish' dish.id %}">
                            <!--Card-->
                            <div class="card">
                                <!--Card image-->
                                <div class="overlay hm-white-slight search-image">
                                    <img src="{{ dish.photo }}" onerror="this.src='/static/images/activity-default.svg'"
                                         class="img-fluid" alt="">
                                </div>
                                <!--/.Card image-->

                                <!--Card content-->
                                <div class="card-block">
                                    <!--Title-->
                                    <h4 class="card-title search-name">{{ dish.name }}</h4>
                                    <!--Text-->
                                    <p class="card-text search-descripcion">{{ dish.short_description }}</p>

                                    <p class="card-text">{{ dish_distance }} {% trans "meters aprox." %}</p>
                                </div>
                                <!--/.Card content-->
                            </div>
                            <!--/.Card-->
                        </a>
                    </div>
                {% endfor %}
            </div>

            {% if dishes.paginator.num_pages > 1 %}
                <nav class="row flex-center wow fadeIn" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeIn; max-height:30px; margin-top: 20px;">
                    <ul class="pagination">
                        {% if dishes.has_previous %}
                            <li class="page-item" onclick="paginateDish({{ dishes.previous_page_number }})">
                                <a class="page-link waves-effect waves-effect" href="#!" aria-label="Previous">
                                    <span aria-hidden="true">«</span>
                                    <span class="sr-only">{% trans "Previous" %}</span>
                                </a>
                            </li>
                        {% endif %}

                        <li class="page-item">
                            <a class="page-link waves-effect waves-effect" aria-label="Next">
                                <span aria-hidden="true">{{ dishes.number }} {% trans "of" %} {{ dishes.paginator.num_pages }}</span>
                            </a>
                        </li>

                        {% if dishes.has_next %}
                            <li class="page-item" onclick="paginateDish({{ dishes.next_page_number }})">
                                <a class="page-link waves-effect waves-effect" href="#!" aria-label="Next">
                                    <span aria-hidden="true">»</span>
                                    <span class="sr-only">{% trans "Next" %}</span>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            {% endif %}
           {% endif %}
    </div>
    <script>

        function paginateActivity(page){
            var newUrl = setUrlParameter("activity_page", page);
            window.location.href = newUrl;
        }

        function paginateDish(page){
            var newUrl = setUrlParameter("dish_page", page);
            window.location.href = newUrl;
        }

        function setUrlParameter(param, value) {
            var url = window.location.href;

            var newURL;
            if(existParam(param)) {
                var pattern = new RegExp('\\b('+param+'=).*?(&|$)')
                if(url.search(pattern)>=0){
                    newURL = url.replace(pattern,'$1' + value + '$2');
                }
            }
            else
                newURL= url + "&" + param + "=" + value;

            return newURL;
        }

        function existParam(param){
            var url = window.location.href;
            if(url.indexOf('?' + param + '=') != -1
                || url.indexOf('&' + param + '=') != -1)
                return true;
            return false
        }
    </script>
{% endblock %}