{% extends 'masterpage/masterpage.html' %}
{% load staticfiles %}
{% load i18n %}
{% load l10n %}
{% load crispy_forms_tags %}
{% crispy form form.helper %}
{% load activities_extra %}

{% block title %}List of Activities{% endblock %}
{% block content %}

    {% if subscription_succeeded or unsubscription_succeeded or activity_created_succeeded or activity_mod_succeeded or activity_del_succeeded %}
        <div class="container alerts">
            <div class="alert alert-success alert-dismissable">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>{{ success_msg }}</strong>
            </div>
        </div>
    {% endif %}

    <div class="container">
        <main>
            <!--Main layout-->
            <div class="container">

                <!--Page heading-->
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="h1-responsive">{% trans 'All Dishes near you' %}
                        </h1>
                    </div>
                </div>
                <!--/.Page heading-->
                <hr>

                <!--First row-->
                <div class="row wow">
                    <!--First column-->
                    {% for activity_time in activities %}
                        {% with activity_time.activity as activity %}
                            <div class="col-lg-4 wow fadeIn" data-wow-delay="0.{{ forloop.counter }}s"
                                 style=" margin-bottom: 15px;">
                                <!--Card-->
                                <div class="card">
                                <a href="{% url "activity_detail" activity_time.id %}" class="activity-list-element">
                                    <!--Card image-->
                                    <div class="overlay hm-white-slight">
                                        <img style="  min-height:250px; max-height:250px; margin: auto;"
                                             src="{{ activity.photo }}"
                                             class="img-fluid" alt=""
                                             onerror="this.src='/static/images/activity-default.svg'">
                                    </div>
                                    <!--/.Card image-->

                                    <!--Card content-->
                                    <div class="card-block">
                                        <!--Title-->
                                        <h4 class="card-title" style="min-height: 100px; max-height: 100px">{{ activity.name }}</h4>
                                        <!--Text-->
                                        <p class="card-text"
                                           style="min-height: 100px; max-height: 100px">{{ activity.short_description }}</p>
                                    </div>
                                    <!--/.Card content-->
                                    </a>
                                    <div class="card-block read-more">
                                         <p>
                                            {% if user.is_authenticated and activity.owner.id == user.id %}
                                                <button class="btn btn-primary activity-edit"
                                                        onclick="openURL('{% url 'activity_edit' activity_time.id %}');">Edit
                                                </button>
                                                <button class="btn btn-primary activity-remove" data-id="{{ activity_time.id }}">
                                                    Remove
                                                </button>
                                            {% endif %}
                                        </p>
                                    </div>
                                </div>
                                <!--/.Card-->
                            </div>
                        {% endwith %}
                    {% empty %}
                        <div style="min-height: 400px">
                        </div>

                    {% endfor %}
                </div>


                <hr>
            </div>
            <!--/.Main layout-->
        </main>
    </div>

{#    <div class="container">#}
{#        <div class="row">#}
{#            <div class="col-md-12">#}
{#                <div class="row">#}
{#                {% if activities %}#}
{#                    {% for activity_time in activities %}#}
{#                        {% with activity_time.activity as activity %}#}
{#                        <div class="col-md-4">#}
{#                            <a href="{% url "activity_detail" activity_time.id %}" class="activity-list-element">#}
{#                                <img alt="{{ activity.name }}" src="{{ activity.photo }}" class="activity-list-img"#}
{#                                     onerror="this.src='/static/images/activity-default.svg'"/>#}
{#                                <div class="caption">#}
{#                                    <h3 class="activity-list-name">#}
{#                                        {{ activity.name }}#}
{#                                    </h3>#}
{#                                    <p class="activity-list-short-desc">#}
{#                                        {{ activity.short_description }}#}
{#                                    </p>#}
{#                                </div>#}
{#                            </a>#}

{#                        </div>#}
{#                        {% endwith %}#}
{#                    {% endfor %}#}
{##}
{#                {% else %}#}
{#                    <i class="fa fa-exclamation-triangle fa-5x"></i> Nada que mostrar#}
{#                    <div style="min-height: 400px">#}
{#                    </div>#}
{#                {% endif %}#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
    <script type="text/javascript">
        $(".alert").fadeTo(3000, 500).slideUp(500, function () {
            $(".alert").slideUp(500);
        });

        $(".activity-remove").click(function () {
            var id = $(this).data("id");
            var url = "{% url "activity_delete" 0 %}".replace("0", id);
            swal(
                {
                    title: "{% trans "Are you sure?" %}",
                    text: "{% trans "You will delete this activity!" %}",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "{% trans "Yes, delete it!" %}",
                    cancelButtonText: "{% trans "Cancel" %}",
                    closeOnConfirm: false,
                    showLoaderOnConfirm: true
                }, function() {
                    $.ajax({
                        method: "POST",
                        url: url,
                        success: function (res) {
                            if(res.has_permissions && res.is_deleted) {
                                swal({
                                    title: "Good Job!",
                                    text: "{% trans "Now you are unsubscribed!" %}",
                                    type: "success",
                                }, function () {
                                    if(res.redirect_url != null){
                                        window.location.href = res.redirect_url;
                                    }else {
                                        location.reload();
                                    }
                                });
                            }else if(!res.has_permissions){
                                swal({
                                    title: "Oops!",
                                    text: "{% trans "It seems you dont have permission to delete this activity." %}",
                                    type: "warning",
                                });
                            }
                            else{
                                swal({
                                    title: "Oops!",
                                    text: "{% trans "There was an error deleting your activity. Please try later." %}",
                                    type: "warning",
                                });
                            }
                        },
                        error: function (xhr) {
                            swal.close();
                            alert("An error occured: " + xhr.status + " " + xhr.statusText);
                        }
                    });
                });
        });

        function openURL(url) {
            window.open(url, "_self");
        }

    </script>
{% endblock %}