{% extends 'masterpage/masterpage.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% crispy form form.helper %}
{% load activities_extra %}

{% block title %}{{ title }}{% endblock %}
{% block content %}
<form action="{% url "new_activity_periodically" %}" method="POST">
    {% csrf_token %}
    <input type="hidden" id="week-days" name="weekDays" />
    <div class="container activity-periodically">
        <div class="row">
            <div class="input-group">
                <input id="id_start_date" class="form-control activity-date form-control-success dateinput form-control" name="start_date" placeholder="Start date" readonly="" required="" type="text">
                <span class="input-group-addon active">
                    <i class="fa fa-calendar activity-date" aria-hidden="true"></i>
                </span>
            </div>
            <div class="input-group">
                <input id="id_start_date" class="form-control activity-date form-control-success dateinput form-control" name="end_date" placeholder="End date" readonly="" required="" type="text">
                <span class="input-group-addon active">
                    <i class="fa fa-calendar activity-date" aria-hidden="true"></i>
                </span>
            </div>
        </div>
        <div class="row">
            <div class="week-day monday col-12" data-weeks-day="1">Monday</div>
            <div class="week-day thesday col-12" data-weeks-day="2">Thuesday</div>
            <div class="week-day wednesday col-12" data-weeks-day="3">Wednesday</div>
            <div class="week-day thursday col-12" data-weeks-day="4">Thursday</div>
            <div class="week-day friday col-12" data-weeks-day="5">Friday</div>
            <div class="week-day saturday col-12" data-weeks-day="6">Saturday</div>
            <div class="week-day sunday col-12" data-weeks-day="7">Sunday</div>
        </div>
        <div class="row">
            <div class="input-group">
                <input id="id_end_hour" class="form-control activity-date form-control-success timeinput form-control" name="start_hour" placeholder="Start hour" readonly="" required="" type="text">
                <span class="input-group-addon active">
                    <i class="fa fa-clock-o activity-time" aria-hidden="true"></i>
                </span>
            </div>
            <div class="input-group">
                <input id="id_end_hour" class="form-control activity-date form-control-success timeinput form-control" name="end_hour" placeholder="End hour" readonly="" required="" type="text">
                <span class="input-group-addon active">
                    <i class="fa fa-clock-o activity-time" aria-hidden="true"></i>
                </span>
            </div>
        </div>
        <button type="submit" class="btn btn-primary activity-periodically-submit">Submit</button>
    </div>
</form>
<script>
    $('.dateinput').datepicker({
        format: "dd/mm/yyyy",
        startView: 2,
        clearBtn: true,
        autoclose: true
    });

    $('.timeinput').clockpicker({
        autoclose: true
    });


</script>
{% endblock %}