{% extends 'masterpage/masterpage.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load l10n %}
{% crispy form form.helper %}
{% load activities_extra %}

{% block title %}{{ title }}{% endblock %}
{% block content %}

    {% if error_msg %}
        <div class="container alerts">
            <div class="alert alert-danger alert-dismissable">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong class="error-msg">{{error_msg}}</strong>
            </div>
        </div>
    {% elif success_msg %}
        <div class="container alerts">
            <div class="alert alert-success alert-dismissable">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>{{success_msg}}</strong>
            </div>
        </div>
    {% endif %}

<div class="container">

    {% if is_edit %}
        {% url "activity_edit" activity_id  as form_action %}
    {% else %}
        {% url "new_activity" as form_action %}
    {% endif %}

    <form id="activity-form" action="{{ form_action }}" method="post" enctype="multipart/form-data">
        <div class="row activity-detail-photo">
            <span class="col-3 hidden-xs hidden-sm"></span>
            <img id="activity-photo" class="col-6 col-xs-12 col sm-12 " src="{{ activity_photo }}" onerror="this.src='/static/images/activity-default.svg'" />
            <span class="col-3 hidden-xs hidden-sm"></span>
        </div>
        {%  crispy form %}
        <div id="map"></div>
{#        {% if request.user|is_activity_owner:activity_id %}#}
{#            {% if is_edit or is_new %}#}
{#                <button type="submit" class="btn btn-primary activity-submit">Submit</button>#}
{#                {% if not is_new %}#}
{#                    <button type="button" class="btn btn-primary activity-remove" data-id="{{ activity_id }}">Remove</button>#}
{#                {% endif %}#}
{#            {% else %}#}
{#                <button type="button" class="btn btn-primary activity-edit">Edit</button>#}
{#                <button type="button" class="btn btn-primary activity-remove" data-id="{{ activity_id }}">Remove</button>#}
{#            {% endif %}#}
{#        {% endif %}#}
        {% if request.user|is_activity_owner:activity_id %}
            {% if is_edit or is_new %}
                <button type="submit" class="btn btn-primary activity-submit">Submit</button>
                {% if not is_new %}
                    <button type="button" class="btn btn-primary activity-remove" data-id="{{ activity_id }}">Remove</button>
                {% endif %}
            {% else %}
                <button type="button" class="btn btn-primary activity-edit">Edit</button>
                <button type="button" class="btn btn-primary activity-remove" data-id="{{ activity_id }}">Remove</button>
            {% endif %}
        {% elif is_new and activity_id is None %}
            <button type="submit" class="btn btn-primary activity-submit">Submit</button>
        {% endif %}
	</form>
    {% if user.is_authenticated and not request.user|is_activity_owner:activity_id and activity_id %}
        {% if request.user|is_subscribed:activity_id  %}
            <a id="activity-unsubscribe" class="btn btn-primary unsubscribe" href="#">
                <span>Unsubscribe</span>
            </a>

            <a  class="btn btn-primary" href="{% url 'activity_feedback' activity.activity_id %}">
                <span>{% trans 'Create comment' %}</span>
            </a>
        {% else %}
            <a id="activity-subscribe" class="btn btn-primary subscribe" href="#">
                <span>Subscribe!</span>
                <div id="subscribe"></div>
            </a>
        {% endif %}
    {% endif %}

<script>
    $('.dateinput').datepicker({
        format: "dd/mm/yyyy",
        startView: 2,
        clearBtn: true,
        autoclose: true
    });

    $('.timeinput').clockpicker({
        autoclose: true
    });

    $(".alert").fadeTo(3000, 500).slideUp(500, function(){
        $(".alert").slideUp(500);
    });

    {% if not is_edit and not is_new %}

    $(".activity-edit").click(function () {
        var url = '{% url "activity_edit" activity_id %}';
        window.open(url, "_self");
    });

    {% if not request.user|is_activity_owner:activity_id %}

        $("#activity-unsubscribe").click(function(){
            activityUnsubscribe("{% url "activity_unsubscribe" activity_id %}");
        });

        paypalButton("#activity-subscribe", {{ activity.activity.price_per_person|unlocalize }}, "{{ activity.name }}", {{ activity_id }}, "activity", function(){
            activitySubscribe("{% url "activity_subscribe" activity_id %}");
        });

        function activitySubscribe(url){
                $.ajax({
                method: "POST",
                url: url,
                data : {"csrfmiddlewaretoken": getCookieValue("csrftoken"),},
                success: function(res){
                    swal(
                        {
                            title: "{% trans "Good job!" %}",
                            text: "{% trans "Now you are subscribed!" %}",
                            type:"success"
                        }
                        , function(){
                        location.reload();
                    });
                },
                error: function(xhr){
                    swal.close();
                    alert("An error occured: " + xhr.status + " " + xhr.statusText);
                }});
            }

            function activityUnsubscribe(url){
                swal(
                    {
                        title: "{% trans "Are you sure?" %}",
                        text: "{% trans "You will unsubscribe this activity!" %}",
                        type: "warning",
                        showCancelButton: true,
                        confirmButtonColor: "#DD6B55",
                        confirmButtonText: "{% trans "Yes, unsubscribe it!" %}",
                        cancelButtonText: "{% trans "Cancel" %}",
                        closeOnConfirm: false,
                        showLoaderOnConfirm: true
                    }, function() {
                        $.ajax({
                            method: "POST",
                            url: url,
                            data: {"csrfmiddlewaretoken": getCookieValue("csrftoken"),},
                            success: function (res) {
                                if(res.is_refunded) {
                                    swal({
                                        title: "Good Job!",
                                        text: "{% trans "Now you are unsubscribed!" %}",
                                        type: "success",
                                    }, function () {
                                        location.reload();
                                    });
                                }else{
                                    swal({
                                        title: "Oops!",
                                        text: "{% trans "There was an error executing your unsubscription request. Please try later." %}",
                                        type: "warning",
                                    });
                                }
                            },
                            error: function (xhr) {
                                swal.close();
                                alert("An error occured: " + xhr.status + " " + xhr.statusText);
                            }
                        });
                    });
            }
        {% endif %}
    {% endif %}

    $(".activity-remove").click(function(){
       var id = $(this).data("id");
       var url = "{% url "activity_delete" 0 %}".replace("0", id);
       swal(
                {
                    title: "{% trans "Are you sure?" %}",
                    text: "{% trans "You will delete this activity!" %}",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "{% trans "Yes, delete it!" %}",
                    cancelButtonText: "{% trans "Cancel" %}",
                    closeOnConfirm: false,
                    showLoaderOnConfirm: true
                }, function() {
                    $.ajax({
                        method: "POST",
                        url: url,
                        success: function (res) {
                            if(res.has_permissions && res.is_deleted) {
                                swal({
                                    title: "Good Job!",
                                    text: "{% trans "Now you are unsubscribed!" %}",
                                    type: "success",
                                }, function () {
                                    location.reload();
                                });
                            }else if(!res.has_permissions){
                                swal({
                                    title: "Oops!",
                                    text: "{% trans "It seems you dont have permission to delete this activity." %}",
                                    type: "warning",
                                });
                            }
                            else{
                                swal({
                                    title: "Oops!",
                                    text: "{% trans "There was an error deleting your activity. Please try later." %}",
                                    type: "warning",
                                });
                            }
                        },
                        error: function (xhr) {
                            swal.close();
                            alert("An error occured: " + xhr.status + " " + xhr.statusText);
                        }
                    });
                });
    });

    $("#activity-form").submit(function( event ) {
        if(!checkMandatoryFields()){
            event.preventDefault();
            $(".error-msg").val("One or more mandatory fields are blank");
        }else if(!checkHiddenFields()){
            event.preventDefault();
        }
    });

    function checkMandatoryFields(){
        var result = false;

        var name = $("#id_name").val();
        var desc = $("#id_description").val();
        var startDate = $("#id_start_date").val();
        var startHour = $("#id_start_hour").val();
        var endHour = $("#id_end_hour").val();
        var place = $("#id_place").val();
        var activityType = $('activity-type input:checked', '#activity-form').val();

        result = name != ""
                && desc != ""
                && place != ""
                && (
                    activityType != "one_time"
                    ||
                    (
                        activityType == "one_time"
                        && startDate != ""
                        && startHour != ""
                        && endHour != ""
                    )
                );

        return result;
    }

    function checkHiddenFields(){
        var result = false;

        var latitude = $("#id_latitude").val();
        var longitude = $("#id_longitude").val();

         result = latitude != ""
                && longitude != "";

        return result;
    }

    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#activity-photo').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#id_photo").change(function(){
        if(validate($(this).val())){
            readURL(this);
        }

    });

    function validate(file) {
        var result = true;
        if(file == ""){
            return false;
        }
        var ext = file.split(".");
        ext = ext[ext.length-1].toLowerCase();
        var arrayExtensions = ["jpg" , "jpeg", "png", "gif"];

        if (arrayExtensions.lastIndexOf(ext) == -1) {
            alert("We only accept .jpg, .jpeg, .png and .gif extensions.");
            $("#id_photo").val("");
            result = false;
        }
        return result;
    }

    function checkHiddenFields(){
        var result = false;

        var latitude = $("#id_latitude").val();
        var longitude = $("#id_longitude").val();

         result = latitude != ""
                && longitude != "";

        return result;
    }

    $(".activity-type").click(function(){
        setDateTimeInputs();
        setIsPeriodicallyField();
    });

    function setDateTimeInputs(){
        var activityType = $('.activity-type:input:checked');
        var isSet =  activityType.val() == "one_time";

        var startDateInput = $("#div_id_start_date");
        var startHourInput = $("#div_id_start_hour");
        var endHourInput = $("#div_id_end_hour");
        if(isSet){
            if(startDateInput.hasClass("hidden-xl-down")){
                startDateInput.removeClass("hidden-xl-down");
            }
            if(startHourInput.hasClass("hidden-xl-down")){
                startHourInput.removeClass("hidden-xl-down");
            }
            if(endHourInput.hasClass("hidden-xl-down")){
                endHourInput.removeClass("hidden-xl-down");
            }
        }else{
            if(!startDateInput.hasClass("hidden-xl-down")){
                startDateInput.addClass("hidden-xl-down");
            }
            if(!startHourInput.hasClass("hidden-xl-down")){
                startHourInput.addClass("hidden-xl-down");
            }
            if(!endHourInput.hasClass("hidden-xl-down")){
                endHourInput.addClass("hidden-xl-down");
            }
        }
    }

    function setIsPeriodicallyField(){
        var activityType = $('.activity-type:input:checked');
        var isSet =  activityType.val() != "one_time";

        var isPeriodicallyInput = $("#id_is_periodically");
        isPeriodicallyInput.val(isSet);
    }

    google.maps.event.addDomListener(window, "load", initActivityMap);
</script>
</div>
{% endblock %}