{% extends 'masterpage/masterpage.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% crispy form form.helper %}
{% load i18n %}


{% block content %}
    <style>
        .errorlist {
            color: red;
        }

        .abstract, .speciality {
            border: none !important;
            border-bottom: 1px solid #ccc !important;
        }

        .list-group-item.active {
            background-color: #ff5c5c !important;
            border-color: #ff5c5c !important;
        }

        a.list-group-item {
            color: #ff5c5c;
        }

        a.list-group-item:focus, a.list-group-item:hover {
            color: grey !important;
        }

    </style>

    <div class="container">
        <h1>{% trans 'Edit Profile' %}</h1>
        <hr>

        <div class="row">
            <!-- left column -->
            <div class="col-lg-3">
                <div class="widget-wrapper  fadeIn" data-wow-delay="0.1s">
                    <div class="list-group">
                        <a href="{% url 'profile_edit' %}" class="list-group-item ">{% trans 'Personal info' %}</a>
                        <a href="{% url 'about_me_edit' %}" class="list-group-item active">{% trans 'About me' %}</a>
                        {% if is_subscribed %}
                            <a href="#" class="list-group-item"
                               onclick="unsubscribePlan();">{% trans "Unsubscribe plan" %}</a>
                            <a href="#" class="list-group-item" onclick="selectPlan();">{% trans "Change plan" %}</a>
                        {% else %}
                            <a href="#" class="list-group-item" onclick="selectPlan();">{% trans "Select a plan" %}</a>
                        {% endif %}
                    </div>
                </div>
            </div>

            <!-- edit form column -->
            <div class="col-md-9 personal-info wow fadeIn" data-wow-delay="0.2s">

                <h3>{% trans 'About me' %}</h3>

                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ guest_form.as_p }}

                    <button type="submit" class="btn btn-primary activity-edit">{% trans 'Edit' %}</button>
                </form>

            </div>
        </div>


    </div>

    <script>
        $('.dateinput').datepicker({
            format: "dd/mm/yyyy",
            startView: 2,
            autoclose: true,
            orientation: 'bottom'
        });
        function checkHiddenFields() {
            var result = false;

            var latitude = $("#id_latitude").val();
            var longitude = $("#id_longitude").val();

            result = latitude != ""
                    && longitude != "";

            return result;
        }
        function countCharAbstract(val) {
            if ($("#abstract").length == 0) {
                $("<div id=abstract></div>").insertAfter(".abstract");
            }
            var len = val.value.length;
            if (len > 498) {
                val.value = val.value.substring(0, 498);
                $('#abstract').text(0);

            } else {
                $('#abstract').text(500 - len);
            }
        }
        function countCharSpeciality(val) {
            if ($("#speciality").length == 0) {
                $("<div id=speciality></div>").insertAfter(".speciality");
            }
            var len = val.value.length;
            if (len >= 138) {
                val.value = val.value.substring(0, 139);
                $('#speciality').text(0);
            } else {
                $('#speciality').text(140 - len);
            }
        }


        function unsubscribePlan() {
            swal({
                        title: "{% trans "Are you sure?" %}",
                        text: "{% trans "You are going to unsubscribe your current plan and become to use the Free plan" %}",
                        type: "warning",
                        showCancelButton: true,
                        confirmButtonColor: '#DD6B55',
                        confirmButtonText: '{% trans "Yes, im sure!" %}',
                        cancelButtonText: "{% trans "Cancel" %}",
                        closeOnConfirm: false,
                        closeOnCancel: true,
                        showLoaderOnConfirm: true,
                    },
                    function (isConfirm) {
                        if (isConfirm) {
                            $.ajax({
                                method: "POST",
                                url: "{% url "cancel_subscription" %}",
                                success: function (res) {
                                    if (res.subscription_canceled) {
                                        swal("Unsubscribed successfully!!", "Your unsubscription request has been successfull!", "success");
                                        location.reload();
                                    } else {
                                        swal("Ops!!", "Your unsubscription request had an error. Try again later", "warning");
                                    }
                                },
                                error: function (xhr) {
                                    alert("An error occured: " + xhr.status + " " + xhr.statusText);
                                }
                            });
                        }
                    });
        }

        function selectPlan() {
            window.location.href = "{% url "plan_subscription" %}"
        }
    </script>


{% endblock %}