{% extends 'masterpage/masterpage.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% crispy form form.helper %}
{% load i18n %}


{% block content %}
    <style>
        .errorlist {
            color: red;
        }

    </style>

    <div class="container">
        <h1>{% trans 'Edit Profile' %}</h1>
        <hr>

        <div class="row">
            <!-- left column -->
            <div class="col-md-3 text-center">
                <div class="row">
                    <div class="file-upload">
                        <img src="//placehold.it/100" class="rounded-circle" alt="avatar">
                        <h6>Upload a different photo...</h6>

                        <input type="file" class="form-control">
                    </div>
                </div>
                <div class="row">
                    {% if is_subscribed %}
                        <a class="btn btn-warning" onclick="unsubscribePlan();">{% trans "Unsubscribe plan"%}</a>
                        <a class="btn btn-success" onclick="selectPlan();">{% trans "Change plan" %}</a>
                    {% else %}
                        <a class="btn btn-success" onclick="selectPlan();">{% trans "Select a plan" %}</a>
                    {% endif %}
                </div>
            </div>

            <!-- edit form column -->
            <div class="col-md-9 personal-info">
                {#                <div class="alert alert-danger alert-dismissable">#}
                {#                    <a class="panel-close close" data-dismiss="alert">×</a>#}
                {#                    <i class="fa fa-coffee"></i>#}
                {#                    This is an <strong>.alert</strong>. Use this to show important messages to the user.#}
                {#                </div>#}
                <h3>Personal info</h3>

                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ guest_form.as_p }}
                    <button type="submit" class="btn btn-primary activity-edit">Edit</button>
                </form>

            </div>
        </div>


    </div>

    <script>
        $('.dateinput').datepicker({
            format: "dd/mm/yyyy",
            startView: 2,
            autoclose: true
        });

        function unsubscribePlan(){
            swal({
                    title: "{% trans "Are you sure?" %}",
                    text: "{% trans "You are going to unsubscribe your current plan and become to use the Free plan" %}",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: '#DD6B55',
                    confirmButtonText: '{% trans "Yes, im sure!" %}',
                    cancelButtonText: "{% trans "Cancel" %}",
                    closeOnConfirm: false,
                    closeOnCancel: true,
                    showLoaderOnConfirm: true,
                },
                function (isConfirm) {
                    if (isConfirm) {
                        $.ajax({
                            method: "POST",
                            url: "{% url "cancel_subscription" %}",
                            success: function(res){
                                if(res.subscription_canceled){
                                    swal("Unsubscribed successfully!!", "Your unsubscription request has been successfull!", "success");
                                    location.reload();
                                }else{
                                    swal("Ops!!", "Your unsubscription request had an error. Try again later", "warning");
                                }
                            },
                            error: function(xhr){
                                alert("An error occured: " + xhr.status + " " + xhr.statusText);
                        }});
                    }
                });
        }

        function selectPlan(){
            window.location.href = "{% url "plan_subscription" %}"
        }
    </script>


{% endblock %}