{% extends 'masterpage/masterpage.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% crispy form form.helper %}

{% block title %}Signup{% endblock %}
{% block content %}
<div class="container">

    {% if signUpError is not None%}
        <div class="alert alert-danger" role="alert">
          <strong>{{ signUpError }}</strong>
        </div>
    {% endif %}

	<form action="/signup" method="post">
        {%  crispy form %}
		<button type="submit" class="btn btn-primary">Submit</button>
	</form>


<script type="text/javascript" >
var serverContext = "/";
$(document).ready(function () {

	var options = {
		    common: {minChar:8},
		    ui: {
		    	showVerdictsInsideProgressBar:false,
		    	showErrors:true
		    }
		};
	options.rules = {
	        activated: {
	            wordTwoCharacterClasses: true,
	            wordRepetitions: true
	        }
	    };
	options.i18n = {
	        t: function (key) {
	            var result = translateKey(key);

	            return result === key ? '' : result;
	        }
	    };
	options.ui.spanError = function (options, key) {
	    "use strict";
	    var text = options.i18n.t(key);
	    if (!text) { return ''; }
	    return '<span class="pwstrength-error">' + text + '</span>';
	};

	$('#signup-userPassword').pwstrength(options);

	$('form').submit(function(event) {
		event.preventDefault();
		if(!matchPasswords() || !isValidPassword()){
			return;
		}
		var hash = CryptoJS.SHA1($('#signup-userPassword').val());

		$('#signup-userPassword').val(hash);

		this.submit();
	});

	$(":password").keyup(function(){
		matchPasswords();
	});

    $('#signup-birthDate-container').datepicker({
        format: "dd/mm/yyyy",
        startView: 2,
        clearBtn: true,
        autoclose: true
    });
});
function matchPasswords(){
	if($("#signup-userPassword").val() != $("#signup-userPassword-repeat").val()){
        $("#matchPasswordErrorMessage").show().html("The passwords doesn't match or are empty.");
        return false;
    }else{
    	$("#matchPasswordErrorMessage").html("").hide();
    	return true;
    }
}

function isValidPassword(){
	var errores = $("span.pwstrength-error").length;

	return errores <= 0 && $("#signup-userPassword").val() != "";
}


function translateKey(key){
	var result = key;
    if(key == 'veryWeak'){
		result = "Very Weak";
	}else if(key == 'weak'){
		result = "Weak";
	}else if(key == 'normal'){
		result = "Normal";
	}else if(key == 'medium'){
		result = "Medium";
	}else if(key == 'strong'){
		result = "Strong";
	}else if(key == 'veryStrong'){
		result = "Very Strong";
	}else if(key == 'wordLength'){
		result = "Password must have at least 8 characters.";
	}else if(key == 'wordNotEmail'){
		result = "Password mustn't be an email.";
	}else if(key == 'wordSequences'){
		result = "Password mustn't be a numbers or character sequence.";
	}else if(key == 'wordLowercase'){
		result = "Password must have a lower-case character.";
	}else if(key == 'wordUppercase'){
		result = "Password must have a upper-case character.";
	}else if(key == 'wordOneNumber'){
		result = "Password must have a number.";
	}
	return result;
}
</script>


</div>
{% endblock %}
