{% extends 'masterpage/masterpage.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% crispy form form.helper %}
{% load i18n %}
{% load l10n %}
{% load dishes_extra %}
{% block title %}Dish Details{% endblock %}
{% block content %}


    <div class="container">
        <div class="row">
            <div class="col-xl-7 col-xs-9 Block Span">
                <div class="row">
                    <div class="col-xl-8">
                        <h2>
                            {{ dish.name }}
                            {% if dish.owner == request.user.guest.chef %}
                                <a class="btn btn-primary delete" href="#">{% trans "Delete" %}</a>
                                <a class="btn btn-primary edit" href="{% url 'edit_dish' dish_id=dish.id %}">{% trans "Edit" %}</a>
                            {% endif %}
                        </h2>


                        <div class="col-xl-8">
                            <img alt="{{ dish.name }}" src="{{ dish.photo }}"
                                 style="height:220px; width:320px ; border-radius: 5% "/>
                        </div>
                    </div>
                </div>
                <div class="Block">
                    <h3>
                        MENU
                    </h3>

                    <ul>
                        <li>
                            Plato
                        </li>
                        <li>
                            Bebida
                        </li>
                        <li>
                            ¿Incluye postre?
                        </li>

                    </ul>
                </div>
                <address>
                    <strong>Twitter, Inc.</strong><br/> 795 Folsom Ave, Suite 600<br/> San Francisco, CA 94107<br/>
                    <abbr title="Phone">P:</abbr> (123) 456-7890
                </address>

            </div>
            <div class="col-xl-4 col-xs-9">

                <div class="row">
                    <div class="Span col-xl-12 col-xs-9 Block">
                        <h2>
                            Contribucion {{ dish.contribution }} Euros
                        </h2>
                        <div class="Block-section">
                            <div>
                                <strong>Plazas reservadas: </strong><br/>
                                <ul class="u-reset">
                                    <div class="row">
                                        {% for assistant in  dish.assistants.all %}
                                            <li class="Booking-occupant">
                                                <img alt="{{ assistant.username }}"
                                                     src="{% static assistant.avatar %}"
                                                     height="50px" width="50px" class="rounded-circle"/>
                                            </li>
                                        {% endfor %}
                                        {% for i in available_seats %}
                                            <li class="Booking-occupant">
                                                <span class="Booking-seatAvailable"></span>
                                            </li>
                                        {% endfor %}
                                    </div>

                                </ul>

                                <div class="text-center">
                                    <br>
                                    {% if user.is_authenticated and not request.user|is_dish_owner:dish.id %}
                                        {% if request.user|is_subscribed:dish.id  %}
                                            <a id="dish-unsubscribe" class="btn btn-primary unsubscribe" href="#">
                                                <span>Unsubscribe</span>
                                            </a>
                                        {% else %}
                                            <a id="dish-subscribe" class="btn btn-primary subscribe" href="#">
                                                <span>Subscribe!</span>
                                                <div id="subscribe"></div>
                                            </a>
                                        {% endif %}
                                    {% endif %}
                                </div>

                            </div>
                        </div>

                        <dl>
                            <dt>
                                Description lists
                            </dt>
                            <dd>
                                A description list is perfect for defining terms.
                            </dd>

                        </dl>
                    </div>
                </div>


                <div class="row ">
                    <div class="Span col-xl-12 col-xs-9 Block">
                        <div>
                            <img alt="{{ dish.owner.username }}" src="{% static dish.owner.avatar %}"
                                 height="180px" width="180px" class="rounded-circle mx-auto d-block"/>
                        </div>
                        <h3>
                            h3. Lorem ipsum dolor sit amet.
                        </h3>
                        <dl>
                            <dt>
                                Description lists
                            </dt>
                            <dd>
                                A description list is perfect for defining terms.
                            </dd>

                        </dl>
                    </div>
                </div>
                <div class="row">
                    <div class="Span col-xl-12 col-xs-9 Block">
                        <div class="panel-group" id="panel-500434">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <a class="panel-title" data-toggle="collapse" data-parent="#panel-500434"
                                       href="#panel-element-511958">Collapsible Group Item #1</a>
                                </div>
                                <div id="panel-element-511958" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        Anim pariatur cliche...
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <a class="panel-title" data-toggle="collapse" data-parent="#panel-500434"
                                       href="#panel-element-259355">Collapsible Group Item #2</a>
                                </div>
                                <div id="panel-element-259355" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        Anim pariatur cliche...
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            if ("{{delete_error}}") {
                swal("{% trans "Well, this is embarrassing" %}", "{% trans "Something went wrong!" %}", "error");
            } else if ("{{deleted}}") {
                swal("Deleted!", "Your imaginary file has been deleted!", "success");
            }
        });

        $("#dish-unsubscribe").click(function(){
            dishUnsubscribe("{% url "dish_unsubscribe" dish.id %}");
        });

        paypalButton(subscribe, {{ dish.contribution|unlocalize }}, "{{ dish.name }}", {{ dish.id }}, "dish", function(){
            dishSubscribe("{% url "dish_subscribe" dish.id %}");
        });

        document.querySelector('a.btn.btn-primary.delete').onclick = function () {
            swal({
                        title: "{% trans "Are you sure?" %}",
                        text: "{% trans "This acction cant be undone" %}",
                        type: "warning",
                        showCancelButton: true,
                        confirmButtonColor: '#DD6B55',
                        confirmButtonText: '{% trans "Yes, delete it!" %}',
                        cancelButtonText: "{% trans "Cancel" %}",
                        closeOnConfirm: false,
                        closeOnCancel: true
                    },
                    function (isConfirm) {
                        if (isConfirm) {
                            location.replace("{% url 'delete_dish' dish_id=dish.id %}")
                        }
                    });
        };

        function dishSubscribe(url){
            $.ajax({
            method: "POST",
            url: url,
            data : {"csrfmiddlewaretoken": getCookieValue("csrftoken"),},
            success: function(res){
                swal(
                    {
                        title: "Good job!",
                        text: "Now you are subscribed!",
                        type:"success"
                    }
                    , function(){
                    location.reload();
                });
            },
            error: function(xhr){
                alert("An error occured: " + xhr.status + " " + xhr.statusText);
            }});
        }

        function dishUnsubscribe(url){
            swal(
                {
                    title: "Are you sure?",
                    text: "You will unsubscribe this dish!",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Yes, unsubscribe it!",
                    cancelButtonText: "Cancel",
                    closeOnConfirm: false
                }, function() {
                    $.ajax({
                        method: "POST",
                        url: url,
                        data: {"csrfmiddlewaretoken": getCookieValue("csrftoken"),},
                        success: function (res) {
                            swal({
                                title: "Good Job!",
                                text: "Now you are unsubscribed!",
                                type: "success",
                            }, function () {
                                location.reload();
                            });
                        },
                        error: function (xhr) {
                            alert("An error occured: " + xhr.status + " " + xhr.statusText);
                        }
                    });
                });
        }
    </script>
{% endblock %}