{% extends 'masterpage/masterpage.html' %}
{% load staticfiles %}
{% load i18n %}
{% load crispy_forms_tags %}
{% crispy form form.helper %}

{% block title %}{% trans 'New Dish' %}{% endblock %}
{% block content %}
    <div class="container">
        {% if create %}
            <h1>{% trans 'Create Dish' %}</h1>
        {% else %}
            <h1>{% trans 'Edit Dish' %}</h1>
        {% endif %}
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary activity-edit">Edit</button>
        </form>

    </div>
    <script>
        $('#id_date').datepicker({
            format: "dd/mm/yyyy",
            startView: 2,
            autoclose: true
        });

        $('#id_hour').clockpicker({
            autoclose: true

        });
    </script>

{% endblock %}