{% extends 'masterpage/masterpage.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load i18n %}
{% crispy form form.helper %}

{% block title %}All Dishes{% endblock %}
{% block content %}
    <style>
        .flex-center {
            height: auto;
        }

        .view {
            height: auto;
        }
    </style>
    <div class="container">
        <main>
            <!--Main layout-->
            <div class="container">

                <!--Page heading-->
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="h1-responsive">{% trans 'All Dishes near you' %}

                        </h1>
                    </div>
                </div>
                <!--/.Page heading-->
                <hr>

                <!--First row-->
                <div class="row wow">
                    <!--First column-->
                    {% for dish in dishes %}
                        <div class="col-lg-4 wow fadeIn" data-wow-delay="0.{{ forloop.counter }}s"
                             style=" margin-bottom: 15px;">
                            <!--Card-->
                            <div class="card">
                                <!--Card image-->
                                <div class="view overlay hm-white-slight">
                                    <img style="  min-height:250px; max-height:250px; margin: auto;"
                                         src="{{ dish.photo }}"
                                         class="img-fluid" alt="">
                                    <a href="#!">
                                        <div class="mask"></div>
                                    </a>
                                </div>
                                <!--/.Card image-->

                                <!--Card content-->
                                <div class="card-block">
                                    <!--Title-->
                                    <h4 class="card-title">{{ dish.name }}</h4>
                                    <!--Text-->
                                    <p class="card-text"
                                       style="min-height: 100px; max-height: 100px">{{ dish.short_description }}</p>
                                    <div class="read-more">
                                        <a class="btn btn-elegant"
                                           href="{% url 'details_dish' dish_id=dish.id %}">{% trans 'Details' %}</a>
                                    </div>
                                </div>
                                <!--/.Card content-->

                            </div>
                            <!--/.Card-->
                        </div>
                    {% empty %}
                        <div style="min-height: 400px">
                        </div>
                    {% endfor %}
                </div>


                <hr>
            </div>
            <!--/.Main layout-->
        </main>
    </div>

    <script>

        $(document).ready(function () {
            if ("{{deleted}}") {
                swal("Deleted!", "Your imaginary file has been deleted!", "success");
            }
            else if ("{{error}}") {
                swal("Error!", "Sorry!", "error");
            }
        });
    </script>

{% endblock %}